@page
@model B3110SQLInjectionProjectASPNETCore.Pages.Admin.ErrorModel
@{
    ViewData["Title"] = "SQLInjection project.";
}
<div>

    <br />
    <br />
    <br />
    <h1>Please contact the system administrator.</h1>
</div>

@section headerContent
    {
    <h1>Enroll Student</h1>
}
