@page
@model B3110SQLInjectionProjectASPNETCore.Pages.Admin.IndexModel
@{
}


@section scriptContent
    {
    <script></script>
    }

@section headerContent
    {
    <table>
        <tr><td><h1>SQLInjection project........|  @Model.User.Identity.Name | @Model.UserRole </h1></td></tr>

    </table>
}

<br />
<br />

<h2>Welcome ....</h2>