@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
}

@section headerContent
    {
    <table>
        <tr><td><h1>Login|  @Model.User.Identity.Name | @Model.UserRole  </h1></td></tr>
    </table>
}

<form method="post">
    <div style="display: flex;">
        <div style="width: 25%">
            <table>
                <tr>
                    <td>Username:</td>
                    <td>
                        <input asp-for="Username" />
                        <span style="font-size:smaller;color:red;font-style:italic" asp-validation-for="Username"></span>
                    </td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td>
                        <input asp-for="Password" />
                        <span style="font-size:smaller;color:red;font-style:italic" asp-validation-for="Password"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit">Log in</button>
                    </td>
                </tr>
            </table>
        </div>


        <!--                     ---------------------------------------------------------------------        -->
        <div style="width: 25%;">
            <img src="~/Images/login_icon.png" alt="Login Image" style="max-width: 30%;" />
            <img src="~/Images/nait-logo-shield.png" alt="nait-logo-shield" style="max-width: 30%;" />
        </div>

        <!--                     ---------------------------------------------------------------------        -->
        <div style="width: 50%;">
        

        </div>
</form>
